{% extends "template.html" %}
{% block title %}Custom query{% endblock %}
{% block body %}
    <div class="grid flex">
      <div class="col_12">
        <form action="/custom" method="post">
          <input type="text" name="query"/>
          <button type="submit" class="medium"><i class="fa fa-play"></i> Run</button>
        </form>
      </div>
      <div class="col_12">
        <table>
          <thead>
            <tr>
              {% for h in head %}
              <td>{{ h }}</td>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in table %}
            <tr>
              {% for cell in row %}
              <td>{{ cell }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}
