{% extends "template.html" %}
{% block title %}Publisher Order History{% endblock %}
{% block body %}
    <div class="grid flex">
      <div class="col_12">
        <table>
          <thead>
            <tr>
              {% for h in head %}
              <td>{{ h }}</td>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in rows %}
            <tr>
              {% for cell in row %}
              <td>{{ cell }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <h4>Summary</h4>
        <table>
          <thead>
            <tr>
              {% for h in shead %}
              <td>{{ h }}</td>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in srows %}
            <tr>
              {% for cell in row %}
              <td>{{ cell }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}
