{% extends "template.html" %}
{% block title %}Publishers{% endblock %}
{% block body %}
    <div class="grid flex">
      <div class="col_12">
        <table>
          <thead>
            <tr>
              {% for h in head %}
              <td>{{ h }}</td>
              {% endfor %}
              <td>order history</td>
            </tr>
          </thead>
          <tbody>
            {% for row in rows %}
            <tr>
              {% for cell in row %}
              <td>{% if cell != None %}{{ cell }}{% endif %}</td>
              {% endfor %}
              <td><a href="/publishers/history/{{row[0]}}">view</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}
